<!DOCTYPE html>
<html>
	<head>
		{% load staticfiles %}
		<meta charset="utf-8" />
		<link rel="stylesheet" href="{% static "slice.css" %}"  />
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js"></script>
		<script src="{% static "slice.js" %}"></script>
		<script language="javascript">
			window.addEventListener('load',doFirst,false);
			$(document).mousemove(function (e) {
				x.value = e.pageX + document.documentElement.scrollTop;
				y.value = e.pageY + document.documentElement.scrollLeft;
			});
			//document.onmousemove = getMouse;
		</script>
		<title>WorldMap</title>
	</head>
	<body>
	<div id="wrapper">
		<div id="showPuzzle"></div>
		<br>
		<input id="btn1" name="send" type="button" value="Send!" onClick="calSum(array)">
		<div id="to_hide">
		<br>
			X:<input type="text" id="x" size="4"><br>
			Y:<input type="text" id="y" size="4">
		</div>
		<img src="{% static "images/WorldMap.png" %}" id="puzzleImg"/>
		<form id="form1" method="POST" action="/location_detail">
			<input type="hidden" name="locations" id="locations" value="">
			{% csrf_token %}
			<br>
			<input id="btn2" type="submit">
		</form>
		<input id="btn3" type="button">
		{% if eva == 'on' %}
		{% endif %}
		<div id="show"></div>
		{% if eva != 'on' %}
		<script src="{% static "slice2.js" %}"></script>
		{% endif %}
		{% if eva == 'on' %}
		<script src="{% static "slice3.js" %}"></script>
		{% endif %}

		</div>
		<script>
			var array1 = [];
			{% for l in loc %}
			array1.push({{ l }});
			{% endfor %}

			$('#btn3').on('click',function(){
				for(var i=0; i<4096; i++){
					if(array1.indexOf(i) != -1){
						$('#showPuzzle span').eq(i).css('opacity',1).css('background', 'Crimson');
					}
				}
			});

			setTimeout(function (){
				$('#btn3').click();
			}, 1500);
		</script>
	</body>
</html>